/* Universal Selector to remove default browser settings */
* {
  padding: 0rem;
  margin: 0rem;
  box-sizing: border-box;
}

@font-face {
  font-family: "Main";
  src: url(./assets/fonts/KumbhSans-VariableFont_YOPQ_wght.ttf);
  font-weight: 400 700;
}

/* CSS Variables */
:root {
  /* Primary */
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);

  /* Neutral */
  --Dark-gray: hsl(0, 0%, 59%);
}

html {
  font-size: 18px;
}

body {
  font-family: "Main";
  background-color: var(--Dark-cyan);
  /* background: var(--Dark-cyan) url("./assets/images/bg-pattern-top.svg")
    no-repeat left top; */
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 374px;
}

.background {
  width: 350px;
  height: 140px;
}

.background img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-content {
  position: relative;
  background-color: white;
}

.card-content img {
  position: absolute;
  top: -53px;
  left: 121px;
  border: 5px solid white;
  border-radius: 50%;
}

/* Extra small devices [iPhone SE - 375](phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
}

/* Medium devices [iPad Mini] (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
